
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-tree-view/css/core.css';

@import '~bootstrap-tree-view/css/tree.css';

@import '~bootstrap-select/sass/bootstrap-select.scss';

@import '~toastr/toastr.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.modal-footer {
    justify-content: center;
}


