
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-tree-view/css/core.css';

@import '~bootstrap-tree-view/css/tree.css';

@import '~bootstrap-select/sass/bootstrap-select.scss';

@import '~toastr/toastr.scss';

@import '~gijgo/css/gijgo.css';

//@import '~jquery-steps/demo/css/jquery.steps.css';
@import '~smartwizard/dist/css/smart_wizard.css';

@import '~smartwizard/dist/css/smart_wizard_theme_dots.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.modal-footer {
    justify-content: center;
}

.breadcrumb {
	padding-top: 0.5rem;
	margin-top: 1rem;
}

.checklist #questionGrid .table th, .table td {
	padding: 0.5em;
	vertical-align: middle;
}

.checklist #app {
	margin-bottom: 2rem;
}

.nav-bottom {
	display: none;
}

.checklist .nav-bottom {
	display: block;
	position: relative;
}





